:root {
  /* NEW — REQUIRED */
  --caret-width: 3px;
  --caret-color: #fefeffff;
  --editor-font-size: 14px; /* NOT 1rem — absolute units only */
  --zoom-level: 1;
  --gutter-bg-color: #232731;
  --gutter-border-color: #232731;
  --gutter-border-width: 1px;
  --live-preview-bg-color: #232731;
  --live-preview-border-color: #232731;
  --live-preview-border-width: 0px;
  --live-preview-border-round: 4px;
}
/* .cm-cursor {
  border-left: var(--caret-width) solid var(--caret-color) !important;
  margin-left: 0 !important;
} */

/* .cm-editor-wrapper {
  --zoom-level: 1;
  transition: all 140ms cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 100vh !important;
}


.cm-scroller {
  background-color: transparent !important;
  min-height: 100vh !important;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.cm-editor {
  font-size: calc(var(--editor-font-size) * var(--zoom-level));
  background-color: var(--color-bg-primary, transparent) !important;
  min-width: 100% !important;
  min-height: 100% !important;
  line-height: 1.6 !important;
}

.cm-content {
  font-size: calc(var(--editor-font-size) * var(--zoom-level)) !important;
  line-height: 1.6 !important;

  min-height: 150vh !important;
  padding-bottom: 50vh !important;
}

.cm-gutters {
  background: var(--color-bg-secondary, transparent) !important;
  border-right: 1px solid var(--color-border, transparent) !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: 1.6 !important;
  min-width: calc(40px * var(--zoom-level, 1)) !important;
}

.cm-lineNumbers {
  padding-right: 8px !important;
  line-height: 1.6 !important;
}

 */

/*  GITHUB */
/* 1. The highlighted line where the cursor acts */
